html, body, #__next, .layout {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

*:focus {outline:none !important}

.main-screen {
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-content: center;
}

.main-screen-bg {
    background-image: url(/static/tab.jpg);
    background-color: #eff1f0;
}

.secondary-screens-bg {
    background-image: url(/static/bg-new.jpg);
    background-color: #eceeed;
}

.winner-screens-bg {
    background-image: url(/static/win-updated.jpg);
    background-color: #eceeed;
    background-size: cover !important;
    position: relative;
}

.instructions-screens-bg {
    background-image: url(/static/bg1.jpg);
    background-color: #eceeed;
}

.ribbon {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/static/ribbon.png);
    color: #FFF;
    width: 50%;
    justify-content: center;
    vertical-align: middle;
    position: relative;
    top: 22%;
}
.winner-name{
    text-align: center;
    margin-top: 4%;
    font-size: 2rem;
}

.main-screen-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    background-color: rgb(255,255,255,0.8);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px;
}

.moderator-container {
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-content: center;
}

.moderator-container-bg{
    background-image: url(/static/tv.jpg);
}

.moderator-container-start-screen {
    background-image: url(/static/bg-new.jpg);
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-content: center;
}

.blue-button{
    background-image: linear-gradient(#a1defa, #5ca7de);
    border-radius: 50px;
    padding: 15px 30px;
    color: #FFF;
    border: thin solid #FFF;
}

.blue-button:hover{
    background-image: linear-gradient(to right, #ff6600 0%, #ff6600 51%, #ff6600 100%);
    border-radius: 50px;
    padding: 15px 30px;
    color: #FFF;
}

.button-color{
    color: #FFF !important;
    background-image: linear-gradient(to right, #ff6600 0%, #ff6600 51%, #ff6600 100%);
}

.blue-button-width{
    min-width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.welcome-heading{
    margin-bottom: 30px;
}

.error-message{
    color: red;
    height: 20px;
    min-width: 550px;
    text-align: center;
    margin-top: 10px;
}

.team-name-input{
    text-align: center;
    font-size: 30px !important;
}

.instructions-container {
    width: 410px;
    text-align: center;
}

.start-screen {
    display: flex;
    justify-content: space-between;
}

.options-container{
    margin-bottom: 20px;
    text-align: "center";
    margin-top: 20px;
}

.progress{
    border-radius: 2.25rem  !important;
    width: 50%;
    height: 2.5em !important;
    display: inline-flex;
    background-color: #e0e0e0 !important;
}

.progress-bar{
    padding-left: 10px;
}

.result-container{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    justify-content: center;
}
.lead{
    width: 30%;
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/static/modal-bg.png);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center;
    background-color: rgb(0, 0, 0, 0.49);
}

.modal-content {
    background-color: transparent !important;
    border: none !important;
}

.bold-text{
    font-size: 40px;
    color: #FFF;
    font-weight: bold;
}
.light-text{
    font-size: 36px;
    color: #FFF;

}

.modal-body{
    line-height: 30px !important;
}

/* .modal-body{
    -webkit-box-shadow: 10px 10px 77px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 77px 2px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 77px 2px rgba(0,0,0,0.5);
    padding: 3rem !important;

} */